<!-- index.hbs -->
<h2>View and Add Agents</h2>
{{!-- Create a table --}}
<table id="agent_table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <th>
            agent id
        </th>
        <th>
            name
        </th>

        <th>
            Edit
        </th>

       
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.agent_id}}</td>
            <td>{{this.agent_name}}</td>
            <td><button onclick="edit_agent({{this.agent_id}},'{{this.agent_name}}')">Edit Entry</button>
            
        </tr>
        {{/each}}
    </tbody>
</table>
<h2>Add an entry</h2>
<p>To add a new agent, please enter the agent information below and click 'Submit'!</p>
<form id="add-agent-form-ajax">

    <label for="input-agent_name">Agent Name: </label>
    <input type="text" name="input-agent_name" id="input-agent_name">
    
    <input type="submit">
</form>

<form action="/agents" method="get">
    <h2>search</h2>
    <p>You can only use one option to search</p>
    <label for="agent_name">Agent</label>
    <select name="agentDropName" id="agent-dop-name">
        <option value="">employee name</option>
        {{#each agents}}
        <option value="{{this.agent_name}}">{{this.agent_name}}</option>
        {{/each}}
    </select>

    <input type="submit" value="Submit">

</form>

<form action="/agents" method="get">
    <label for="agent_id">Agent ID</label>
    <select name="agentDropId" id="agent-dop-id">
        <option value="">employee id</option>
        {{#each agents}}
        <option value="{{this.agent_id}}">{{this.agent_id}}</option>
        {{/each}}
    </select>

    <input type="submit" value="Submit">

</form>

<a href="/agents" id="reset-button">Reset</a>


<script src="./js/add_agent.js"></script>
<script src="./js/edit_ticket.js"></script>