<!-- agents_has_tickets.hbs -->
<h2>View and Add Agents Assigned to Tickets</h2>
{{!-- Create a table --}}
<table id="agent_ticket_table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
           <th>Agent ID #</th>
           <th>Agent Name</th>
           <th>Ticket Claimed</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.agent_id}}</td>
            <td>{{this.agent_name}}</td>
            <td>{{this.ticket_id}}</td>
           
        </tr>
        {{/each}}
    </tbody>
</table>

<h2>You can not add an entry here</h2>
<p>You cannot assign tickets to agents here, you must claim a ticket on the tickets page</p>

<form action="/submit-url" method="post">
    <h2>search</h2>
    <p>can only search by one</p>
    <label for="agent_id">agent</label>
    <select name="agent-drop" id="agent-dop">
        <option value="">please select employee id</option>
        {{#each agents}}
        <option value="{{this.agent_id}}">{{this.agent_id}}</option>
        {{/each}}
    </select>

    <input type="submit" value="Submit">

</form>

<form action="/submit-url" method="post">
    <h2>search</h2>
    <p>can only search by one</p>
    <label for="agent_id">agent</label>
    <select name="agent-drop" id="agent-dop">
        <option value="">employee name</option>
        {{#each agents}}
        <option value="{{this.agent_name}}">{{this.agent_name}}</option>
        {{/each}}
    </select>

    <input type="submit" value="Submit">

</form>