<!-- agents_has_tickets.hbs -->
<h2>View Agents Assigned to Tickets</h2>
{{!-- Create a table --}}
<table id="agent_ticket_table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
           <th>Agent ID</th>
           <th>Agent Name</th>
           <th>Ticket Claimed</th>
           </th>
           <th style="width:150px;">
        Edit
        </th>
            <th style="width:150px;">
        Delete
        </th>
        
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr data-value="{{this.agent_id}}" ticket-value="{{this.ticket_id}}">
            <td>{{this.agent_id}}</td>
            <td>{{this.agent_name}}</td>
            <td>{{this.ticket_id}}</td>
            <th><button onclick="edit_claimed_ticket({{this.agent_id}}, {{this.ticket_id}})">Edit Ticket Claim</button></th>
            <td><button  onclick="delete_claimed_ticket({{this.agent_id}},{{this.ticket_id}})">Unclaim Ticket</button>
           
        </tr>
        {{/each}}
    </tbody>
</table>

<h2>You can not add an entry here</h2>
<p>You cannot assign tickets to agents here, you must claim a ticket on the tickets page</p>

<h2>
    Search
</h2>

<p>
    Can only search by one ticket:
</p>

<form action="/agents_has_tickets" method="get">

    <label for="AgentID">Agent ID</label>
        <select name="agentIDSearch" id="agentIDSearch">
            <option value="">Select agent ID</option>
            {{#each agents}}
                <option value="{{this.agent_id}}">{{this.agent_id}}</option>
            {{/each}}
        </select>

    <input type="submit" value="Submit">

</form>

<form action="/agents_has_tickets" method="get">
    <label for="AgentName">Agent Name</label>
    <input type="text" name="agentNameSearch" id="agentNameSearch">
    <input type="submit" value="Submit">
</form>

<form action="/agents_has_tickets" method="get">
    <label for="ticketIdSearch">Ticket ID</label>
    <select name="ticketIdSearch" id="ticketIdSearch">
        <option value="">Select ticked ID</option>
        {{#each tickets}}
            <option value="{{this.ticket_id}}">{{this.ticket_id}}</option>
        {{/each}}
    </select>
    <input type="submit" value="Submit">
</form>

<a href="/agents_has_tickets" id="reset-button">Reset</a>
<script src="./js/delete_ticket.js"></script>

