<!-- index.hbs -->
<h2>View and Add Agents Tickets</h2>
{{!-- Create a table --}}
<table id="ticket_table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <th>
            ticket id
        </th>

        <th>
            user id
        </th>

        <th>
            subject
        </th>

        <th>
            body
        </th>

        <th>
            date created
        </th>

        <th>
            statues
        </th>

        <th>
            department
        </th>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print name --}}
        {{#each data}}
        <tr>
            <td>{{this.ticket_id}}</td>
            <td>{{this.Users_user_id}}</td>
            <td>{{this.ticket_subject}}</td>
            <td>{{this.ticket_body}}</td>
            <td>{{this.create_date}}</td>
            <td>{{this.ticket_status}}</td>
            <td>{{this.tag_name}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
<!-- /views/index.hbs -->

{{!-- Form to add a record to the table  --}}
<h2>Add an entry</h2>
<p>To add a new ticket, please enter the ticket information below and click 'Submit'!</p>
<form id="add-ticket-form-ajax">
    
        <label for="input-user-id">user id: </label>
        <select name="user-id-input" id="dropdown">
            <option> select user id </option>
            {{#each user}}
            <option value="{{this.id}}">
                {{this.name}}
            </option>
             {{/each}}
        </select>

<!-- Your existing code for tickets -->

    
    <label for="input-ticket_subject">subject: </label>
    <input type="text" name="input-ticket_subject" id="input-ticket_subject">

    <label for="input-ticket_body">body: </label>
    <input type="text" name="input-ticket_body" id="input-ticket_body">

    <label for="input-tag_name">tag: </label>
    <input type="text" name="input-tag_name" id="input-tag_name">

    
    <input type="submit">
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_ticket.js"></script>