<!-- index.hbs -->

{{!-- Create a table --}}
<table id="chats_table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.chat_id}}</td>
            <td>{{this.ticket_id}}</td>
            <td>{{this.chat_history}}</td>
            <td>{{this.chat_date}}</td>
            <td>{{this.chat_time}}</td>
            <td>{{this.Users_user_id}}</td>
            <td>{{this.agent_id}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<h2>Add an entry</h2>
<p>To add a new chat, please enter the ticket chat information below and click 'Submit'!</p>
<form id="add-chat-form-ajax">

    <label for="input-ticket_id">ticket_id: </label>
    <input type="number" name="input-ticket_id" id="input-ticket_id">

    <label for="input-chat_history">chat_history: </label>
    <input type="text" name="input-chat_history" id="input-chat_history">

    <label for="input-Users_user_id">Users_user_id: </label>
    <input type="number" name="input-Users_user_id" id="input-Users_user_id">

    <label for="input-agent_id">agent_id: </label>
    <input type="number" name="input-agent_id" id="input-agent_id">

    
    <input type="submit">
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_chat.js"></script>