<!-- index.hbs -->
<h2>View and Add Ticket conversations</h2>
{{!-- Create a table --}}
<table id="chats_table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <th>
            chat id
        </th>

        <th>
            ticket id
        </th>

        <th>
            message
        </th>

        <th>
            date
        </th>

        <th>
            time
        </th>

        <th>
            user id
        </th>
        <th>
            user name
        </th>
    

        <th>
            agent id
        </th>
        <th>
            agent name
        </th>
    
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.chat_id}}</td>
            <td>{{this.ticket_id}}</td>
            <td>{{this.chat_history}}</td>
            <td>{{this.chat_date}}</td>
            <td>{{this.chat_time}}</td>
            <td>{{this.Users_user_id}}</td>
            <td>{{this.user_name}}</td>
            <td>{{this.agent_id}}</td>
            <td>{{this.agent_name}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<h2>Add an entry</h2>
<p>To add a new chat, please enter the ticket chat information below and click 'Submit'!</p>
<form id="add-chat-form-ajax">

    <label for="add-message-ticket-id">ticket id</label>
    <select name="add-message" id="add-message-ticket-id">
        <option value="">please select a ticket id</option>
        {{#each tick_id}}
        <option value="{{this.ticket_id}}">{{this.ticket_id}}</option>
        {{/each}}
    </select>

    <label for="input-chat_history">message</label>
    <input type="text" name="input-chat_history" id="input-chat_history">

    <label for="input-Users_user_id">user id</label>
    <select name="user-id" id="message-user-id">
        <option value="">please select userid</option>
        {{#each users}}
        <option value="{{this.user_id}}">{{this.user_id}}, {{this.user_name}} {{this.user_email}}</option>
        {{/each}}
    </select>


    <label for="input-agent_id">agent_id: </label>
    <select name="agent-id" id="messaged-agent-id">
        <option value="">select your employee id</option>
        {{#each agents}}
        <option value="{{this.agent_id}}">{{this.agent_id}} {{this.agent_name}}</option>
        {{/each}}
    </select>

    
    <input type="submit">
</form>

<form action="/submit-url" method="post">

    <h2>Search</h2>
    <p>can only search by one</p>
    <label for="ticket id"> Ticket ID</label>
    <select name="search-message" id="search-message-ticket-id">
        <option value="">please select a ticket id</option>
        {{#each tick_id}}
        <option value="{{this.ticket_id}}">{{this.ticket_id}}</option>
        {{/each}}
    </select>
    <input type="submit" value="submit">
    
</form>

<br>

<form action="/submit-url" method="post">
    <label for="user search">User:</label>
    <select>
        <option value="">please select user id</option>
        {{#each users}}
        <option value="{{this.user_id}}">{{this.user_id}}, {{this.user_email}}</option>
        {{/each}}
    </select>

<input type="submit" value="submit">

</form>

<br>

<form action="/submit-url" method="post">
    <label for="agent search">Agent:</label>
    <select name="agent-id" id="messaged-agent-id">
    <option value="">select employee id</option>
    {{!-- {{#each agents}}
    <option value="{{this.agent_id}}">{{this.agent_id}}</option>
    {{/each}} --}}
    </select>

    <input type="submit" value="submit">

</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_chat.js"></script>