<!-- index.hbs -->
<h2>View and Add Agents Tickets</h2>
{{!-- Create a table --}}
<table id="ticket_table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
            
        <th>
            ticket id
        </th>

        <th>
            user id
        </th>

        <th>
            subject
        </th>

        <th>
            body
        </th>

        <th>
            date created
        </th>

        <th>
            status
        </th>

        <th>
            department
        </th>

            
            <th style="width:100px;">
        Edit
        </th>
            <th style="width:150px;">
        Delete
        </th>

    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print name --}}
        {{#each data}}
        <tr data-value="{{this.ticket_id}}">
            <td>{{this.ticket_id}}</td>
            <td>{{this.Users_user_id}}</td>
            <td>{{this.ticket_subject}}</td>
            <td>{{this.ticket_body}}</td>
            <td>{{this.create_date}}</td>
            <td>{{this.ticket_status}}</td>
            <td>{{this.tag_name}}</td>
            <td><button onclick="edit_button({{this.ticket_id}},{{this.Users_user_id}},'{{this.ticket_subject}}','{{this.ticket_body}}','{{this.ticket_status}}','{{this.tag_name}}')" >Edit Entry</button>
            <td><button  onclick="delete_ticket({{this.ticket_id}})">Delete Entry</button>
        </tr>
        {{/each}}
    </tbody>
</table>
<!-- /views/index.hbs -->

{{!-- Form to add a record to the table  --}}
<h2>Add an entry</h2>
<p>To add a new ticket, please enter the ticket information below and click 'Submit'!</p>
<form id="add-ticket-form-ajax">
    
    <label for="input-user-id">User ID: </label>
    <select id="input-user_id">
        <option value="">select a user id</option>
        {{#each user_ids}}
        <option value="{{this.user_id}}">{{this.user_id}}</option>
        {{/each}}
    </select>

    
    <label for="input-ticket_subject">Ticket Subject: </label>
    <input type="text" name="input-ticket_subject" id="input-ticket_subject">

    <label for="input-ticket_body">Ticket Body: </label>
    <input type="text" name="input-ticket_body" id="input-ticket_body">

    <label for="input-tag_name">Department: </label>
       <select id="input-tag_name">
        <option value="">select a department</option>
        {{#each department}}
        <option value="{{this.tag_type}}">{{this.tag_type}}</option>
        {{/each}}
    </select>
    
    <input type="submit">
</form>


<h2>Claim a ticket</h2>
<form id="add_agent_ticket_table">

    <label for="agent">
        Agent
    </label>
    
    <select name="agent-drop" id="agent-dop">
        <option value="">Agent ID</option>
        {{#each agent}}
        <option value="{{this.agent_id}}">{{this.agent_id}} {{this.agent_name}}</option>
        {{/each}}
    </select>

    <label for="ticket-search">Ticket</label>
    <select name="ticket-to-claim" id="claim-id">
        <option>
            Ticket ID
        </option>
        {{#each data}}
        <option value="{{this.ticket_id}}">{{this.ticket_id}}</option>
        {{/each}}

    </select>

    <input type="submit">

</form>

<h2>Search</h2>
<p>Can only search by a single input.</p>
<form action="/tickets" method="get" action="/">
    <label for="department">Department: </label>
    
    <select id="tag_id" name="tag_id">
        <option value=""></option>
        {{#each department}}
        <option value="{{this.tag_id}}">{{this.tag_type}}</option>
        {{/each}}
    </select>
    <input type="submit" value="Submit">
</form>

<br>

<form action="/tickets" method="get">
    <label for="ticket_status">Status</label>
    <select name="ticket_status" id="ticket_status">
        <option value="0">Open</option>
        <option value="1">Closed</option>
    </select>
    <input type="submit" value="Submit">
</form>

<a href="/tickets" id="reset-button">Reset</a>





{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_ticket.js"></script>
<script src="./js/claim_ticket.js"></script>
<script src="./js/delete_ticket.js"></script>
<script src="./js/edit_ticket.js"></script>