<!-- index.hbs -->
<h2>View and Add Users</h2>
{{!-- Create a table --}}
<table id="user_table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <th>
            user id
        </th>
        
        <th>
            user name
        </th>

        <th>
            user email
        </th>

        <th>
            user phone number
        </th>

                    
        <th style="width:100px;">
        Edit
        </th>
            <th style="width:150px;">
        Delete
        </th>


    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr data-value="{{this.user_id}}">
            <td>{{this.user_id}}</td>
            <td>{{this.user_name}}</td>
            <td>{{this.user_email}}</td>
            <td>{{this.user_Phone_number}}</td>
            <td><button onclick="edit_user({{this.user_id}},'{{this.user_name}}','{{this.user_email}}','{{this.user_Phone_number}}')" >Edit Entry</button>
            
            <td><button onclick="delete_user({{this.user_id}})">Delete Entry</button>
        </tr>
        {{/each}}
    </tbody>
</table>
<h2>Add an entry</h2>
<p>To add a new user, please enter the user information below and click 'Submit'!</p>
<form id="add-user-form-ajax">
    <label for="input-user_name">User Name: </label>
    <input type="text" name="input-user_name" id="input-user_name">
    
    <label for="input-user_email">User Email: </label>
    <input type="text" name="input-user_email" id="input-user_email">

    <label for="input-user_Phone_number">User Phone number: </label>
    <input type="text" name="input-user_Phone_number" id="input-user_Phone_number" pattern="[0-9]+" maxlength="15" minlength="10">


    
    <input type="submit">
</form>

<form action="/users" method="get">
    <h2>search</h2>
    <p>can only search by one</p>
    <label for="name">Name</label>
    <input type="text" id="name" name="name">
    <input type="submit" value="Submit">

</form>

<form action="/users" method="get">
    <label for="email">Email</label>
    <input type="text" id="email" name="email">
    <input type="submit" value="Submit">

</form>

<form action="/users" method="get">
    <label for="search-number">Number</label>
    <input type="text" id="phonenumber" name="search-number">
    <input type="submit" value="Submit">
</form>

<a href="/users" id="reset-button">Reset</a>


{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_user.js"></script>
<script src="./js/edit_ticket.js"></script>
<script src="./js/delete_ticket.js"></script>